*{
 margin: 0;
 padding: 0;
}
  background-color: #383D58;
}
header{
backgriund-color: #   424E 61;
color: white;
}
.cabecalho-imagem{
  width:  20%;
  }
  .cabecalho {
   background-color:  #424E61;
   color: white;
   display: flex;
   justify-content: space- around;
   align-items: center;
   padding: 24px 0;
  }
.cabecalho-lista-item{
     display: inlini-block;
 margin : 0 16px
     font-size:24px;
}
      
